@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Kavoon&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "spartan",sans-serif;
}

body {
    background-color: #f4f4f4;
}

html{
    scroll-behavior: smooth;

}

.header{
    height: 90px;
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 15px 80px;
    /* padding: 0 2vw; */
    background-color: #f4f4f4;
    /* border-bottom: 1px solid #cd3946;  */
    box-shadow: 0px 0px 10px 1px #cd394683;
    z-index: 999;
}
.left-section{
    display: flex;
    align-items: center;
    /* margin-left: 20px; */

}

.right-section{
    width: 25vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin-right: 20px; */
    /* flex-shrink: 0; */
}
.botona{
    height: 60px;
    background-color: transparent;
    border-radius: 3%;
    cursor: pointer;
    color: #cd3946;
    font-weight: bold;
    border: none;
}
.botona:hover{
    color: #9a2a34;
}



/*-------------------- main -------------------------------*/

main {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

/* ------------------ Our hotel ---------------------------*/

.sec-head { 
	font-size: 60px;
	letter-spacing: -0.04em;
}

.hotels {
	margin-top: 130px;
}

#hotels-head {
	text-align: center;
	margin-bottom: 30px;
}


/* .hotel-index {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hotel-index-title {
	font-size: 60px;
	letter-spacing: -0.04em;
}

#hotel-index-title {
	text-align: center;
	margin-bottom: 30px;
} */

.wrapper {
	width: 100%;
}

.carousel {
	max-width: 70%;
	margin: auto;
	padding: 0 30px;
}

.carousel .card {
	color: #fff;
	text-align: center;
	margin: 20px 0;
	line-height: 250px;
	font-size: 90px;
	font-weight: 600;
	border-radius: 10px;
	background: #d1d1d1;
	height: 400px;
}

.carousel .card-1 {
	background-image: url(/img/carousel/c1.jpg);
	background-size: cover;
	background-position: center;
}

.carousel .card-2 {
	background-image: url(/img/carousel/c2.jpg);
	background-size: cover;
	background-position: center;
}

.carousel .card-3 {
	background-image: url(/img/carousel/c3.jpg);
	background-size: cover;
	background-position: center;
}

.carousel .card-4 {
	background-image: url(/img/carousel/c4.jpg);
	background-size: cover;
	background-position: center;
}

.carousel .card-5 {
	background-image: url(/img/carousel/c5.jpg);
	background-size: cover;
	background-position: center;
}

.carousel .card-6 {
	background-image: url(/img/carousel/c6.jpg);
	background-size: cover;
	background-position: center;
}

.carousel .card-7 {
	background-image: url(/img/carousel/c7.jpg);
	background-size: cover;
	background-position: center;
}

.carousel .card-8 {
	background-image: url(/img/carousel/c8.jpg);
	background-size: cover;
	background-position: center;
}

.owl-dots {
	text-align: center;
	margin-top: 40px;
}

.owl-dot {
	height: 15px;
	width: 15px;
	margin: 0 5px;
	outline: none;
	border-radius: 50%;
	border: 2px solid #0072bc!important;
	transition: all 0.3s ease;
}

.owl-dot.active,
.owl-dot:hover {
	background: #0072bc!important;
}