/* -------------- hadi khaliha 3ndk menb3ad nmodifiha 3la hsab 3aziz  ----------------*/
.navbar a.active,
.navbar a:hover{
    color: #ec150b;

}

.navbar a:before{
    transition: 0.3s;
    content: "";
    height: 5px;
    position: absolute;
    background-color: #ec150b;
    width: 0%;
    bottom: -5px;
}

.navbar a.active::before,
.navbar a:hover::before{
    width: 100%;
}

/*--------------------------------------hata lhna -----------------------------------*/

/*Contact Section*/

/* .contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} */

            
.contact{ 
    /* margin-top: 100px; */
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
    /* border: #171717 solid 1px; */
    border-radius: 1rem;
    background-color: #fff;
    box-shadow: 1px 0px 39px -7px rgba(0,0,0,0.72);
    -webkit-box-shadow: 1px 0px 39px -7px rgba(0,0,0,0.72);
    -moz-box-shadow: 1px 0px 39px -7px rgba(0,0,0,0.72);
}

.contact-title h1 {
    font-size: 40px;
    margin-top: -100px;
}

.contact h2{
    font-size: 36px;
    font-weight: 500;
    /* color: #fff; */
}

.contact p{
    font-weight: 300;
    /* color: #fff; */
}

        /*Contact Info (left side)*/

.contact .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.contact .contactInfo .box {
    position: relative;
    padding: 20px 0;
    display:  flex;
}
.contact .contactInfo .box .icon{
    min-width: 60px;
    height: 60px;
    background:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
    color: #f02214;
}

.contact .contactInfo .box .text{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    font-size: 16px;
    font-weight: 300;
}

.contact .contactInfo .box .text h3{
    font-weight: 500;
}

        /*Contact Form (right side)*/

.contactForm{
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 40px;
    background-color: #f4f4f4;
    border-radius: 10px;
}

.contactForm h2{
    font-size: 30px;
    color: #333;
    font-weight: 500;
    margin-bottom: 40px;
}

.contactForm .inputBox{
    position: relative;
    width: 100% ;
    margin-top: 10px;
}
.contactForm .inputBox input,
.contactForm .inputBox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
    background-color: #f4f4f4;
}

.contactForm .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span{

    color: #e91e63;
    font-size: 15px;
    transform: translateY(-20px);

}



.contactForm .inputBox input[type="submit"]{
    margin-top: 20px;
    width: 100px;
    background: #cd3946;
    border:none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    color: #f4f4f4;
    transition: 0.3s;
    border-radius: 5px;
    
}

.contactForm .inputBox input[type="submit"]:hover{

    background: #9a2a34;
}







































